<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</string>
		<string>A.啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</string>
		<string>B 啊啊啊啊</string>
		<string>C</string>
		<string>D</string>
		<integer>1</integer>
	</array>
	<array>
		<string>BB</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<integer>4</integer>
	</array>
	<array>
		<string>CC</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<integer>2</integer>
	</array>
	<array>
		<string>DD</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<integer>3</integer>
	</array>
	<array>
		<string>EE</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<integer>1</integer>
	</array>
	<array>
		<string>FF</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<integer>4</integer>
	</array>
	<array>
		<string>GG</string>
		<string>Z</string>
		<string>11</string>
		<string>22</string>
		<string>33</string>
		<integer>2</integer>
	</array>
	<array>
		<string>HH</string>
		<string>33</string>
		<string>44</string>
		<string>55</string>
		<string>66</string>
		<integer>3</integer>
	</array>
	<array>
		<string>II</string>
		<string>66</string>
		<string>77</string>
		<string>88</string>
		<string>99</string>
		<integer>1</integer>
	</array>
	<array>
		<string>JJ</string>
		<string>23</string>
		<string>34</string>
		<string>56</string>
		<string>78</string>
		<integer>4</integer>
	</array>
</array>
</plist>
